<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container">
  <div class="row1">
    <h2 class="index-title">バイク情報編集</h2><br>
    <%= form_with model: @bike, url: admin_bike_path(@bike), local:true do |f| %>
      <div class="form-group">
        <%= f.attachment_field :image, placeholder: "バイク画像" %>
      </div>
      <div class="form-group">
        <%= f.label :name, 'バイク名' %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :company_id, 'メーカー名' %>
        <%= f.collection_select(:company_id, Company.all, :id, :name) %>
      </div>
      <div class="form-group">
        <%= f.label :cc_id, '排気量' %>
        <%= f.collection_select(:cc_id, Cc.all, :id, :digit) %>
      </div>
      <div class="form-group row justify-content-end">
          <div class="col-md-6 text-right">
            <%= f.submit '登録', class:"btn btn-success" %>
          </div>
          <div class="col-md-6">
            <%= link_to "戻る", :back, class:"btn btn-outline-primary" %>
          </div>
      </div>
    <% end %>
  </div>
</div>