<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="post-tab" data-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="true">口コミ(<%= posts.count %>件)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="like-tab" data-toggle="tab" href="#like" role="tab" aria-controls="like" aria-selected="false">お気に入り(<%= user.likes.count %>件)</a>
      </li>
    </ul>

    <!--口コミ一覧-->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active my-2" id="post" role="tabpanel" aria-labelledby="post-tab">
        <% posts.each do |post| %>
        <div class="row d-flex">
          <div class="col-lg-4 col-sm-4 mb-3">
            <div class="posts-content">
              <p><%= post.created_at.strftime('%Y/%m/%d %H:%M')  %></p>
              <h5 class="mb-3">
                評価：<%= post.rate %>点|<%= post.title %>
              </h5>
              <p><%= post.content %></p>
              <% if post.user == current_user %>
                <%= link_to edit_user_post_path(post), class:"btn btn-sm btn-success", method: :get do %>
                  レビューを編集
                <% end %>
                <%= link_to user_post_path(post), class:"btn btn-sm btn-danger", method: :delete, data: { confirm: '本当に削除しますか？' } do %>
                  レビューを削除
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="col-lg-3 col-sm-3">
            <%= link_to user_bike_path(post.bike.id) do %>
              <%= attachment_image_tag post.bike, :image, size: "180x120", fallback: "no_image.jpeg", class: "button grow" %>
            <% end %>
          </div>
          <div class="col-lg-5 col-sm-5">
            <%= link_to user_bike_path(post.bike.id) do %>
              <%= post.bike.name %><br>
            <% end %>
            <%= post.bike.company.name %>
            <%= post.bike.cc.digit %>
            <div class="average-score d-flex p-2">
            <div class="average-review-rating" data-score=<%= post.bike.posts.average(:rate) %>></div>
            <h4 class="average-score-display pl-3 ">
              <strong><%= post.bike.avg_score %></strong>
            </h4>
            <div class="post-count pt-1 pl-2">（<%= post.bike.posts.count %>件）</div>
          </div>
          </div>
        </div>
        <% end %>
        <div class-"paginate"><%= paginate posts %></div>
      </div>

      <!--お気に入り一覧-->
      <div class="tab-pane fade" id="like" role="tabpanel" aria-labelledby="like-tab">
        <div class="d-flex my-2">
          <% if like_list.present? %>
            <% like_list.each do |bike| %>
              <div class="col-lg-4 col-sm-5 d-flex">
                <div class="like-bike">
                  <div class="course-header mx-auto">
                    <%= link_to user_bike_path(bike.id) do %>
                      <%= attachment_image_tag bike, :image, size: "180x120", fallback: "no_image.jpeg", class:"button grow" %><br>
                    <% end %>
                  </div>
                  <div class="course-info mx-auto">
                    <strong>
                      <%= link_to user_bike_path(bike.id) do %>
                        <%= bike.name %>
                      <% end %>
                    </strong><br>
                    <%= bike.company.name %>
                    <%= bike.cc.digit %>
                    <div class="average-score d-flex p-2">
                      <div class="average-review-rating" data-score=<%= bike.posts.average(:rate) %>></div>
                      <p class="average-score-display pl-3 ">
                        <strong><%= bike.avg_score %></strong>
                      </p>
                      <div class="post-count pt-1 pl-1">（<%= bike.posts.count %>件）</div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <script>
            $('.average-review-rating').raty({
              readOnly: true,
              starOn: "<%= asset_path('star-on.jpeg') %>",
              starOff: "<%= asset_path('star-off.jpeg') %>",
              starHalf: "<%= asset_path('star-half.jpeg') %>",
              score: function() {
                return $(this).attr('data-score')
              }
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>