<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-sm-6">
      <h2 class="index-title">バイクランキング</h2>
      <p>(全<%= @bikes.count %>件)</p>
    </div>
  </div>
  <% rank = (params[:page].to_i - 1) * 8 %>
  <div class="row">
    <% @bikes.each.with_index(1) do |bike, i| %>
      <div class="col-lg-3 flex">
        <strong>第<%= i + rank %>位</strong><br>
        <%= link_to user_bike_path(bike.id) do %>
          <%= attachment_image_tag bike, :image, size: "200x150", fallback: "no_image.jpeg", class: "button grow" %><br>
        <% end %>
        <strong>
          <%= link_to user_bike_path(bike.id) do %>
            <%= bike.name %>
          <% end %>
        </strong><br>
        <%= bike.company.name %>
        <%= bike.cc.digit %>
      </div>
    <% end %>
  </div>
</div>
<div class= "paginate col-lg-3 mx-auto"><%= paginate @bikes %></div>